# Dependencies
node_modules/

# Production
dist/
dist-ssr/

# Env files
.env
.env.local
.env.*.local
!.env.example

# Logs
*.log

# Editor & OS
.vscode/
.DS_Store
Thumbs.db

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
